
.header {
    padding: 25px 0 0;
}

.header__container {
    padding: 0 6.5%;
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
}

.header__logo:hover {
    color: #18216D;
}

.logo__title {
    margin-left: 7px;
    font-weight: 600;
    font-size: 20px;
}

.header__menu {
    margin-left: 110px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 40px;
    font-weight: 500;
    font-size: 18px;
}

.menu__item:last-child {
    margin-right: 0;
}

.header__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.mobile__menu {
    display: none;
}

.button {
    padding: 16px 27px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s;
}

.button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

a:hover {
    color: red;
    transition: 0.5s;
}

.button--transparent {
    border: transparent;
    background-color: transparent;
    margin-right: 10px;
    font-size: 18px;
}

.button--blue {
    background-color: #18216D;
    border: #18216D;
    color: #ffff;
}

.button--green {
    background: #00ECD0;
    border: #00ECD0;
}

