* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}

ul, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
}

li {
    list-style-type: none;
}

button {
    color: inherit;
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
    color: #18216D;
    margin: 0;
}

section {
    margin-bottom: 130px;
}

@media (max-width: 768px) {
    section {
        margin-bottom: 50px;
    }
    .container {
        padding: 0 7%;
    }
    .header__container {
        justify-content: space-between;
        padding: 0 7.5%;
    }
    .logo {
        height: 20px;
        width: 20px;
    }
    .logo__title {
        font-size: 13px;
    }
    .header__menu {
        display: none;
    }
    .header__buttons {
        display: none;
    }
    .mobile__menu {
        display: block;
        cursor: pointer;
    }
    .page__content {
        flex-direction: column;
        padding: 50px 0;
    }
    .page__content::after {
        display: none;
    }
    .page__text-section {
        text-align: center;
        margin-bottom: 50px;
    }
    .page__title {
        font-size: 28px;
        line-height: 27px;
        margin-bottom: 20px;
    }
    .page__subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .button {
        padding: 11px 17px;
    }
    .button--green {
        font-size: 14px;
        line-height: 17px;
    }
    .hero__img {
        max-height: 300px;
        max-width: 350px;
    }
    .companies__text-section {
        flex-direction: column;
    }
    .companies__text {
        width: 100%;
        margin-bottom: 20px;
    }
    .companies__title {
        font-size: 20px;
        line-height: 30px;
    }
    .statistic {
        justify-content: center;
    }
    .statistic__number {
        font-size: 24px;
    }
    .statistic__download {
        margin-right: 70px;
    }
    .icon__heart, .icon__star {
        height: 8px;
        width: 9px;
        margin-right: 3px;
    }
    .statistic__desc {
        font-size: 8px;
    }
    .company__logo {
        height: 16px;
        width: 70px;
    }
    .company__logo--invisible {
        display: none;
    }
    .features__title {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -1px;
    }
    .features__subtitle {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        opacity: 0.5;
        width: 100%;
    }
    .features__list {
        flex-direction: column;
    }
    .features__item {
        margin-right: 0;
        margin-bottom: 45px;
    }
    .features__item:last-child {
        margin-bottom: 0;
    }
    .feature__link {
        font-size: 20px;
        line-height: 16px;
    }
    .feature__icon {
        margin-bottom: 20px;
    }
    .feature__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px;
    }
    .feature__desc {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .icon__feature {
        height: 48px;
        width: 48px;
    }
    li {
        padding-right: 25px;
    }
    .fedex {
        display: none;
    }
    .walmart {
        display: none;
    }
}